.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }

  .form-container{
    border-color: #98add8;
  }

  .login-container{
    text-align: center;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
  }