<section class="h-100 d-flex justify-content-center pt-5 bg-dark">
    <form method="post" action="/login/forgot-password" class="login-container bg-light">
        <h1 class="p-3">Reestablecer contraseña</h1>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" class="form-control" placeholder="correo" name="email"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Enviar link</button>
    </form>
</section>