<section class="h-100 d-flex justify-content-center pt-5 bg-dark">
    <div class="login-container bg-light">
    <form method="post" action="/login">
        <h1 class="p-3">Login</h1>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" class="form-control" placeholder="Email address" name="email"/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" class="form-control" placeholder="contrasena" name="password"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a href="signup">Register</a></p>
    </div>
    <div>
        <a href="forgot-password">¿Olvidaste tu contraseña?</a>
    </div>
    
    </div>
</section>
