<section class="p-4 bg-dark text-dark">
  <div class="d-flex flex-wrap">
    {{#each products}}
    <div class="col-sm-3">
      <div class="card mb-4" style="width: 15rem;">
        <img src={{image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">${{price}}</p>
          <a href="/products/{{_id}}" class="btn btn-primary">Agregar al carrito</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>