<section class="h-100 d-flex justify-content-center pt-5 bg-dark">
    <form method="post" action="login/reset-password?token={{token}}" class="login-container bg-light">
        <h1 class="p-3">Reestablecer contraseña</h1>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" class="form-control" placeholder="correo" name="email"/>
        </div>

        <div class="form-outline mb-4">
            <input type="password" class="form-control" placeholder="nueva contraseña" name="newPassword"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Reestablecer</button>
    </form>
</section>